
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  body, html{
   font-family: poppins, roboto;
   margin: 10;
   padding:0;
 }

.logo{
   height: 100px;
   width: 70px;
}


.user{
   height: 50px;
   width:50px;
   border-radius: 100%;
}


.navbar{
   width: 100%;
   height: 83px;
   display: flex;
   justify-content: space-between;
   padding-left: 16px;
   padding-right: 16px;

}
.title1{
    margin-bottom: 15px;
}
.fanny{
    height: 30px;
     width:30px;
   border-radius: 100%;
}
.pauline{
    height: 30px;
     width:30px;
   border-radius: 100%;
}
.camille{
    height: 30px;
     width:30px;
   border-radius: 100%;
}
.option{
    width: 308px;
    height: 50px;
    border-radius: 5px;
    border-color: #6A6A6A;
    background-color: white;
}
.title2{
    margin-top: 45px;
    margin-bottom: 15px;
}
.plus{
    width: 53px;
    height: 50px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #EEEEEE;

}
.choix{
    color: #6A6A6A;
    border-color: #6A6A6A;
    background-color: white;
    border-radius: 5px;
    width: 364px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.title3{
    font-weight: 600;
}
.liste{
    color: #6A6A6A;
    margin-top: -15px;
}
.cta{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.orange{
    background-color: #FFBB0D;

    border-color: transparent;
    border-radius: 5px;
}
.orange p{
    font-weight: 500;
    display: flex;
    margin-bottom: 1PX;
}
.grille{
    max-width: 170px;
    max-height: 98px;
    display: flex;
    flex-direction: column;
    margin:15px ;
    z-index: 1;
    border-radius: 5px;
    filter: brightness(85%);

}

.title4{
    margin-top: 50px;
}
.tab{
    display: flex;
    justify-content: center;
}
.plats{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin:15px ;
}
.burger{
    background-image: url("./img/burger1.jpg");
    background-color: #434343;
    background-blend-mode: screen;
    width: 170px;
    height: 98px;
    background-size: 100%;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger>span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.couscous{
    background-image: url("./img/couscous1.jpg");
    background-color: #434343;
    background-blend-mode: screen;
    width: 170px;
    height: 98px;
    background-size: 100%;
    border-radius: 5px; 
    margin-bottom: 18px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.couscous>span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.pizza{
    background-image: url("./img/pizza1.jpg");
    background-color: #434343;
    background-blend-mode: screen;
    width: 170px;
    height: 98px;
    background-size: 100%;
    border-radius: 5px; 
    margin-bottom: 18px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pizza>span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.sushi{
    background-image: url("./img/sushi1.jpg");
    background-color: #434343;
    background-blend-mode: screen;
    width: 170px;
    height: 98px;
    background-size: 100%;
    border-radius: 5px; 
    margin-bottom: 18px;
    margin-left: 9px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.sushi>span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.salade{
    background-image: url("./img/salade1.jpg");
    background-color: #434343;
    background-blend-mode: screen;
    width: 170px;
    height: 98px;
    background-size: 100%;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-left: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salade>span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.pates{
    background-image: url("./img/pates1.jpg");
    background-color: #434343;
    background-blend-mode: screen;
    width: 170px;
    height: 98px;
    background-size: 100%;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-left: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pates>span{
    color: white;
    font-weight: 600;
    font-size: 20px;
}